<div>
    <h1>Destroy page</h1>
</div>

<form action='/dkdkdlwkd/dlqslek_des' method=post>
    <h3>
    국가 DB 삭제! 현재 <%= @country_cnt %>개 저장되어 있음.
    <input type="hidden" name="target" value="country">
         <input type='submit' value='삭 to the 제'> 
    </h3>
</form>    
<form action='/dkdkdlwkd/dlqslek_des' method=post>
    <h3>
    경기 DB 삭제! 현재 <%= @game_cnt %>개 저장되어 있음.
    <input type="hidden" name="target" value="game">
         <input type='submit' value='아앗.. 지워져 버렷~'> 
    </h3>
</form>    


User가 국가를 뽀린키로 들고 있기 때문에 삭제하기 힘들다고 보면됨.<br/><br/>

<a href="/db/mainpage">[메인 페이지로 가기]</a>